.contacts{

    position: relative;
    left: 600px;
    bottom: 500px;
    background-color: rgba(199, 217, 218, 0.884);
    width: 25%;
    padding: 70px;
    border-radius: 50px;
    border-color: cadetblue;
    margin: 0px;

}

#idcontact{
    position: relative;
    bottom: 70px;
    text-align: center;   
}

#hrcontact{
    padding: 0px;
    position: relative;
    bottom:60px;
}

.classContacts{
    text-align: center;
    position: relative;
    bottom: 60px;
}

#location{
position: relative;
right: 15px;

}

button{
    display: inline-block;
    position: relative;
    padding:40px;
    margin: 20px;
    width: 30px;
    height: 20px;
    left:30px;
    border-radius: 50% 20% / 10% 40%;
    background-color: rgba(199, 217, 218, 0.884);
    border-color: aliceblue;
}

button:hover{
    background: none;
}

#item1,#item2,#item3{
   
    text-align: center;
    position: relative;
    padding: 0px;
    font-size: 70px;
    bottom:30px;
    right: 30px;
}

#item1{

    position: relative;
    right:35px;
    flex: 0 0 33%;
}

#item2{
   flex: 0 0 33%;
}

#item3{
flex: 0 0 33%;

}
.flexIcon{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}


@media screen and (min-width:100px) {

    .contacts{
        position: relative;
        left : 500px;
        width: 300px;
    }
    button{
        display: inline-block;
        position: relative;
        padding:40px;
        margin: 5px;
        width: 20px;
        height: 20px;
        left:0px;
        border-radius: 50% 20% / 10% 40%;
        background-color: rgba(199, 217, 218, 0.884);
        border-color: aliceblue;
    }
    
    
}